.RowButton {
  margin: 5px 0;
}

.ButtonCreate {
  margin: 0 5px;
}

.ButtonEdit, .ButtonRemove {
  font-size: 14px;
}

.ButtonEdit {
  border-color: darkcyan;
  background: aquamarine;
  color: darkcyan;
}